#privacy {
	background-color: #fff;

	h1, h2, h3, h4{
		margin: 20px 0;
	}

	h1 {
		font-size: 2.5rem;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		font-weight: 500;
		text-align: left;
		border-bottom: #000 solid 1px;
	}
	
	h3 {
		font-size: 1.5rem;
		border-bottom: #000 solid 1px;
	}
	
	h4 {
		border-bottom: #000 solid 1px;
		font-size: 1.25rem;
		font-weight: 500;
		text-align: left;
	}

	section {
		margin-top: 80px;
	}

	p {
		margin: 16px 0;
	}

	ul {
		margin-left: 40px;
		list-style: disc;
	}

	ul li {
		list-style: disc;
	}

	a {
		text-decoration: underline;
		color: blue;
	}

	.date {
		text-align: right;
	}
}