@media screen and (max-width: 1024px) {
	.contact dt {
		width: 20%;
	}

	.contact dd {
		width: 80%;
	}
}

@media screen and (max-width: 500px) {
	.news dt {
		width: 100%;
		border-bottom: 0;
		padding-bottom: 0;
	}

	.news dd {
		width: 100%;
		padding-top: 0;
	}

	.contact h3 {
		font-size: 1rem;
	}

	.contact dl {
		flex-direction: column;
	}

	.contact dt {
		width: 100%;
		margin-bottom: 5px;
	}

	.contact dd {
		width: 100%;
	}
}
