@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #efefef;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  padding: 100px 0 40px;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.9rem;
}

.jump_point {
  padding-top: 40px;
  margin-top: -40px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.header_top {
  width: 100%;
  height: 100vh;
  background-image: url("../images/office-image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header_top #header_main {
  background-color: #eee;
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  transition: all 0.8s ease;
}
.header_top #header_main.sticky {
  position: fixed;
  box-shadow: 0px 5px 5px #ddd;
  z-index: 1000;
}
.header_top #header_main h1 {
  margin-right: auto;
}
.header_top #header_main img {
  width: 256px;
}
.header_top #header_main #nav_menu {
  max-width: 100%;
  display: flex;
  align-items: center;
}
.header_top #header_main li {
  font-size: 1.3rem;
  font-weight: 300;
  padding-left: 40px;
  position: relative;
}
.header_top #header_main li .sub_menu {
  width: 240px;
  position: absolute;
  background-color: #eee;
  left: 20px;
  display: none;
}
.header_top #header_main li .sub_menu ul {
  margin: 20px;
}
.header_top #header_main li .sub_menu ul li {
  padding: 10px 0;
}
.header_top #header_main li .sub_menu ul li a {
  font-size: 1.25rem;
}
.header_top #header_main li:hover .sub_menu {
  display: block;
}
.header_top #header_main li a:hover {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
}
.header_top #header_main .nav_icon {
  display: none;
  font-size: 32px;
}
.header_top .header_content {
  width: 900px;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(238, 238, 238, 0.1);
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header_top .header_content img {
  width: 180px;
  height: 180px;
}
.header_top .header_content p {
  font-size: 20px;
  text-align: center;
}
.header_top .header_content p span {
  font-size: 36px;
}
@media screen and (max-width: 1024px) {
  .header_top #header_main #nav_menu {
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #eee;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-130%);
    transition: transform 0.5s ease-in;
    z-index: 100;
  }
  .header_top #header_main #nav_menu.active {
    transform: translateY(0%);
  }
  .header_top #header_main #nav_menu li {
    padding: 20px 0;
    font-size: 2rem;
  }
  .header_top #header_main #nav_menu li:nth-last-child(1) {
    padding-bottom: 60px;
  }
  .header_top #header_main #nav_menu li a:hover {
    font-size: 2rem;
    font-weight: 500;
  }
  .header_top #header_main .nav_icon {
    display: block;
  }
  .header_top #header_main .nav_icon #close_icon {
    display: none;
  }
  .header_top .header_content {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header_top #header_main img {
    width: 50%;
  }
  .header_top #header_main .nav_icon {
    font-size: 20px;
  }
}

.header_sub {
  width: 100%;
}
.header_sub #header_main {
  background-color: #eee;
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  transition: all 0.8s ease;
}
.header_sub #header_main.sticky {
  position: fixed;
  box-shadow: 0px 5px 5px #ddd;
  z-index: 1000;
}
.header_sub #header_main h1 {
  margin-right: auto;
}
.header_sub #header_main img {
  width: 256px;
}
.header_sub #header_main #nav_menu {
  max-width: 100%;
  display: flex;
  align-items: center;
}
.header_sub #header_main li {
  font-size: 1.3rem;
  font-weight: 300;
  padding-left: 40px;
  position: relative;
}
.header_sub #header_main li .sub_menu {
  width: 240px;
  position: absolute;
  background-color: #eee;
  left: 20px;
  display: none;
}
.header_sub #header_main li .sub_menu ul {
  margin: 20px;
}
.header_sub #header_main li .sub_menu ul li {
  padding: 10px 0;
}
.header_sub #header_main li .sub_menu ul li a {
  font-size: 1.25rem;
}
.header_sub #header_main li:hover .sub_menu {
  display: block;
}
.header_sub #header_main li a:hover {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
}
.header_sub #header_main .nav_icon {
  display: none;
  font-size: 32px;
}
.header_sub .header_content {
  width: 900px;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(238, 238, 238, 0.1);
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header_sub .header_content img {
  width: 180px;
  height: 180px;
}
.header_sub .header_content p {
  font-size: 20px;
  text-align: center;
}
.header_sub .header_content p span {
  font-size: 36px;
}
@media screen and (max-width: 1024px) {
  .header_sub #header_main #nav_menu {
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #eee;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-130%);
    transition: transform 0.5s ease-in;
    z-index: 100;
  }
  .header_sub #header_main #nav_menu.active {
    transform: translateY(0%);
  }
  .header_sub #header_main #nav_menu li {
    padding: 20px 0;
    font-size: 2rem;
  }
  .header_sub #header_main #nav_menu li:nth-last-child(1) {
    padding-bottom: 60px;
  }
  .header_sub #header_main #nav_menu li a:hover {
    font-size: 2rem;
    font-weight: 500;
  }
  .header_sub #header_main .nav_icon {
    display: block;
  }
  .header_sub #header_main .nav_icon #close_icon {
    display: none;
  }
  .header_sub .header_content {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header_sub #header_main img {
    width: 50%;
  }
  .header_sub #header_main .nav_icon {
    font-size: 20px;
  }
}

main .container {
  margin: 0 auto;
  max-width: 1200px;
}
main .container .image {
  margin: 0 auto;
  max-width: 1200px;
  height: 900px;
  background-color: beige;
}
main .container .title_content {
  display: flex;
  flex-direction: row;
}

.about div {
  display: flex;
  justify-content: space-around;
}
.about img {
  width: 200px;
  height: 200px;
}
.about p {
  max-width: 700px;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  .about div {
    text-align: center;
    display: block;
  }
  .about img {
    margin: 0 auto 40px;
  }
  .about p {
    margin: 0 auto;
    padding: 2%;
  }
}
@media screen and (max-width: 500px) {
  .about {
    padding: 0;
  }
  .about img {
    width: 100px;
    height: 100px;
  }
  .about p {
    font-size: 0.7rem;
    padding: 8%;
  }
}

.contact {
  max-width: 600px;
  margin: 0 auto;
}
.contact h3 {
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
  border-radius: 20px;
}
.contact h3 a {
  text-decoration: underline;
  font-size: 1.5rem;
}
.contact div {
  margin: 10px;
}
.contact div .input_wrapper {
  position: relative;
}
.contact div .input_wrapper input {
  width: 100%;
  height: 40px;
  padding: 4px;
  font-size: 1rem;
}
.contact div .input_wrapper input:not(:-moz-placeholder-shown) + span {
  font-size: 0.6rem;
  inset: -0.5rem auto auto 0.5rem;
  background-color: #fff;
  padding: 0 0.5rem;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact div .input_wrapper input:focus + span, .contact div .input_wrapper input:not(:placeholder-shown) + span {
  font-size: 0.6rem;
  inset: -0.5rem auto auto 0.5rem;
  background-color: #fff;
  padding: 0 0.5rem;
  transition: all 0.3s ease;
}
.contact div .input_wrapper textarea {
  width: 100%;
  height: 200px;
  padding: 4px;
  font-size: 1rem;
}
.contact div .input_wrapper textarea:not(:-moz-placeholder-shown) + span {
  font-size: 0.6rem;
  inset: -0.5rem auto auto 0.5rem;
  background-color: #fff;
  padding: 0 0.5rem;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact div .input_wrapper textarea:focus + span, .contact div .input_wrapper textarea:not(:placeholder-shown) + span {
  font-size: 0.6rem;
  inset: -0.5rem auto auto 0.5rem;
  background-color: #fff;
  padding: 0 0.5rem;
  transition: all 0.3s ease;
}
.contact div .input_wrapper span {
  position: absolute;
  inset: 0rem auto auto 0rem;
  font-size: 0.9rem;
  padding: 8px;
}
.contact .btn {
  text-align: center;
  padding-bottom: 40px;
}
.contact .btn button {
  background-color: #333;
  color: #fff;
  width: 240px;
  height: 40px;
  transition: all 0.3s;
}
.contact .btn button:hover {
  background-color: #fff;
  color: #333;
}
@media screen and (max-width: 500px) {
  .contact {
    margin: 0 10px;
  }
  .contact h3 {
    font-size: 1rem;
  }
  .contact .btn {
    padding: 20px 0;
  }
  .contact .btn button {
    width: 200px;
    margin: 10px;
  }
}

.news {
  margin: 0 auto;
}
.news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  height: 282px;
  overflow-x: scroll;
}
.news dt,
.news dd {
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
}
.news dt {
  width: 20%;
}
.news dd {
  width: 80%;
}

.product .categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}
.product .categories:last-child {
  margin-bottom: 0;
}
.product .categories .category {
  grid-area: 1/1/2/4;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}
.product .categories div {
  display: block;
  margin: 0 auto 40px;
}
.product .categories div a {
  width: 300px;
  height: 400px;
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: all 0.5s;
}
.product .categories div a:hover {
  box-shadow: 10px 5px 5px #ccc;
  transform: translateY(-5px);
}
.product .categories div h3,
.product .categories div h4 {
  margin-bottom: 10px;
}
.product .categories div h5 {
  margin-bottom: 30px;
}
.product .categories div .img {
  display: inline;
}
.product .categories div p {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: justify;
  margin-top: 20px;
}
.product .categories div img {
  height: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .product .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product .categories .category {
    grid-area: 1/1/2/3;
  }
}
@media screen and (max-width: 500px) {
  .product .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.skill div {
  text-align: center;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 10px 20px;
  max-width: 560px;
}
.skill div h3 {
  padding-bottom: 20px;
}
.skill div img {
  margin: 0 auto;
}
.skill div .api {
  display: flex;
}
@media screen and (max-width: 500px) {
  .skill div {
    margin: 10px 4%;
  }
  .skill div img {
    max-width: 500px;
    margin-bottom: 10px;
  }
  .skill div .api {
    display: block;
  }
}

footer {
  background-color: #eee;
  align-content: space-between;
}
footer .footer_main {
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .footer_main .footer_menu {
  display: flex;
}
footer .footer_main .footer_menu li {
  margin-right: 20px;
}
footer .footer_main .footer_menu li:last-child {
  margin-right: 0;
}
footer .footer_main .footer_menu img {
  width: 30px;
  height: 30px;
}
footer .footer_credit {
  margin-bottom: 40px;
}
footer .footer_credit p {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .contact dt {
    width: 20%;
  }
  .contact dd {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .news dt {
    width: 100%;
    border-bottom: 0;
    padding-bottom: 0;
  }
  .news dd {
    width: 100%;
    padding-top: 0;
  }
  .contact h3 {
    font-size: 1rem;
  }
  .contact dl {
    flex-direction: column;
  }
  .contact dt {
    width: 100%;
    margin-bottom: 5px;
  }
  .contact dd {
    width: 100%;
  }
}
.scrollup.active {
  position: fixed;
  right: 2rem;
  bottom: 8rem;
  display: flex;
  border: #333 2px solid;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}
.scrollup:hover {
  background-color: #333;
}
.scrollup .scrollup_icon {
  color: #333;
  font-size: 40px;
}
.scrollup .scrollup_icon:hover {
  color: #fff;
}

#privacy {
  background-color: #fff;
}
#privacy h1, #privacy h2, #privacy h3, #privacy h4 {
  margin: 20px 0;
}
#privacy h1 {
  font-size: 2.5rem;
  text-align: center;
}
#privacy h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  border-bottom: #000 solid 1px;
}
#privacy h3 {
  font-size: 1.5rem;
  border-bottom: #000 solid 1px;
}
#privacy h4 {
  border-bottom: #000 solid 1px;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}
#privacy section {
  margin-top: 80px;
}
#privacy p {
  margin: 16px 0;
}
#privacy ul {
  margin-left: 40px;
  list-style: disc;
}
#privacy ul li {
  list-style: disc;
}
#privacy a {
  text-decoration: underline;
  color: blue;
}
#privacy .date {
  text-align: right;
}/*# sourceMappingURL=style.css.map */