main{
	.container {
		margin: 0 auto;
		max-width: 1200px;
		
		.image {
			margin: 0 auto;
			max-width: 1200px;
			height: 900px;
			background-color: beige;
		}
		
		.title_content {
			display: flex;
			flex-direction: row;
		}
	}
}
