.product {
	.categories {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 40px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		.category {
			grid-area: 1 / 1 / 2 / 4;
			font-size: 1.2rem;
			margin-bottom: 20px;
			text-align: center;
		}
		
		div {
			display: block;
			margin: 0 auto 40px;
			
			a {
				width: 300px;
				height: 400px;
				display: inline-block;
				text-align: center;
				padding-top: 30px;
				background-color: #fff;
				border: 1px solid #fff;
				border-radius: 20px;
				transition: all .5s;
				
				&:hover{
					box-shadow: 10px 5px 5px #ccc;
					// transform: rotate(-2deg);
					// transform: scale(1.1);
					transform: translateY(-5px);
				}
			}
			
			h3,
			h4 {
				margin-bottom: 10px;
			}
			
			h5 {
				margin-bottom: 30px;
			}
			
			.img {
				display: inline;
			}
			
			p {
				font-size: .8rem;
				font-weight: 300;
				text-align: justify;
				margin-top: 20px;
			}
			
			img {
				height: 50%;
				margin: 0 auto;
			}
		}
	}
	
	@media screen and (max-width: 1024px) {
		.categories {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			
			.category {
				grid-area: 1 / 1 / 2 / 3;
			}
		}
	}

	@media screen and (max-width: 500px) {
		.categories {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
